<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:classappend="blog-header" th:fragment="blogHeader">

    <h1 th:classappend="blog-title"> Personal Blog </h1>

    <nav class="blog-nav">
        <ul class="nav-list">

            <!-- HOME -->
            <li th:classappend="${page == 'homepage'} ? 'active' : ''">
                <a th:href="@{/home}">Home</a>
            </li>

            <!-- POSTS -->
            <li th:classappend="${page == 'allPosts' || page == 'post'} ? 'active' : ''">
                <a th:href="@{/posts}">Posts</a>
            </li>

            <!-- ABOUT -->
            <li th:classappend="${page == 'about'} ? 'active' : ''">
                <a th:href="@{/about}">About</a>
            </li>

        </ul>
    </nav>

</header>

</html>
