nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #666;
    /*padding: 8px 12px;*/
    /*border-radius: 5px;*/
    /*transition: 0.2s;*/
}

nav ul li.active a {
    /*background: #007bff;*/
    /*color: #fff;*/
    font-weight: 600;
}
